
body{
    background-image: url(img/background1.png);
    width:1366px;
    margin:0 auto;
    background-attachment: fixed;
    background-size: 100%;
    height:768px;
}
p{
    margin:0;
}
/* header */
header{
    display: flex;
    justify-content: space-between;
    padding:51px 165px 26px;
}
.headblock2{
    display:flex;
    flex-direction: column;
}

.headerTextChange1{
    text-decoration:none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-bottom:19px;
}
.headerTextChange2{
    text-decoration:none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    color: #FFFFFF;
}
.test{
    text-align: end;
}
.headerTextChange1:hover{
    color:#F26522;
}
.headerTextChange2:hover{
    color:#F26522;
}
.heaRelative{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items:center;
}
.heaAbsolute2{
    position: absolute;
    opacity: 0;
}
.p1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left:8px;
}
.psspan1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.heaRelative:hover .p1{
    color:#F26522;
}
.heaRelative:hover .heaAbsolute1{
    opacity:0;
}
.heaRelative:hover .heaAbsolute2{
    opacity:1;
}
/* main */
main{
    padding:0px 165px;
    display:grid;
    grid-template-columns:300px 300px 300px;
    grid-template-rows:220px 220px;
    grid-gap:62px;
    text-align:center;
    color: #FFFFFF;
}
.mainText{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
align-items: center;
margin-top:20px;
}
.mainRelative{
    position:relative;
    transition: 1s;
}
.mainRelative:hover .mainAlign{
    top:165px;
    opacity: 1;
}
.mainRelative:hover{
    color:#F26522;
}
.mainAlign{
    width:100%;
    position:absolute;
    background: #F26522;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
    top:220px; 
    left:2px; 
    opacity: 0;
    transition: 1s;
    overflow: hidden;
}
.mainPlaska{
    display: flex;
    flex-direction: column;
}
.mainPhraseOFBlock1Block1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 10px;
display: flex;
align-items: center;
color: #FFFFFF;
margin-top:7px;
margin-bottom:8px;
margin-left:16px;
}
.mainPhraseOFBlock2Block1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
display: flex;
align-items: center;
color: #FFFFFF;
margin-bottom:12px;
margin-left:16px;
}
.mainPhraseOFBlock3Block1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: center;
color: #FFFFFF;
margin-bottom:12px;
margin-right:16px;
}
.mainPhraseOFBlock3Block1::after{
    content:">";
    margin-left:15px;
}
footer{
    margin-top:90px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
align-items: center;
text-align: center;
color: #FFFFFF;
}